<nav class="navbar navbar-expand-lg navbar-dark shadow-sm py-3"  [class]="headerClass" [ngClass]="{ 'hidden-navbar': isScrolling }">
  <div class="container-fluid">
    <!-- Logo o Marca -->
    <a class="navbar-brand fw-bold text-uppercase" routerLink="/"><img src="https://media.bio.site/sites/E2B6C368-F4CA-49F6-9693-2E1BADC0FD90/NRRwHsbXrx5sJid7z4Qmo5.png" alt="Logo" class="rounded-circle" width="40" height="40">
</a>

    <!-- Botón colapsable para móviles -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link text-light"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a routerLink="/modelos" routerLinkActive="active" class="nav-link text-light">MODELOS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/trabajos" routerLinkActive="active" class="nav-link text-light">TRABAJOS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/presupuesto" routerLinkActive="active" class="nav-link text-light">PRESUPUESTO</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacto" routerLinkActive="active" class="nav-link text-light">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
