body {
  background-color: #fbf7df80; /* Cambiá por el color que quieras */
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-title {
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  color: #0152a3;
}

.section-title h2 {
  color: #073868;
  
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 5px;
  line-height: 1.5;
}
