<div class="container my-5">
  <div class="row align-items-center g-5 mb-5 bg-light pb-3 rounded-4">
  <div class="col-md-6">
  <h3 class="fw-bold text-primary mb-3 section-title-h3">Donde nos encontramos</h3>
  <!-- <p class="text-primary mb-4">
    Realizamos instalaciones profesionales de piscinas con materiales de primera calidad, garantizando seguridad y durabilidad.
  </p> -->

<ul class="list-unstyled text-primary">
  <li class="mb-2">
    <i class="fa-solid fa-location-dot me-2"></i>
    Av. Monseñor Pablo Cabrera 4458, Córdoba, Argentina
  </li>
  <li class="mb-2">
    <i class="fa-solid fa-phone me-2"></i>
    <a href="tel:+543514234567" class="text-decoration-none text-primary">+54 351 423-4567</a>
  </li>
  <li class="mb-2">
    <i class="fa-solid fa-clock me-2"></i>
    Lunes a Sábado: 9:00 - 18:00 hs
  </li>
</ul>

</div>

    <div class="col-md-6 shadow rounded-4 overflow-hidden" style="min-height: 300px;">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6813.628054363132!2d-64.2042878!3d-31.3641108!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432990579df2eff%3A0xbf030793ce88ffa0!2sAv.%20Monse%C3%B1or%20Pablo%20Cabrera%204458%2C%20X5008%20HJD%2C%20C%C3%B3rdoba%2C%20Argentina!5e0!3m2!1ses-419!2sfr!4v1751988301242!5m2!1ses-419!2sfr"
        width="100%"
        height="340"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

<div class="container-fluid py-5 " [ngClass]="bgClass">
  
<!-- <div class="team-title section-title">
  <h2 class="mb-4 text-light text-uppercase">Contacto</h2>
</div> -->


  <form (ngSubmit)="enviarContacto()" #form="ngForm">
    <div class="row g-3">
      <div class="col-md-6">
        <input type="text" name="nombre" [(ngModel)]="contacto.nombre" required class="form-control" placeholder="Nombre">
      </div>
      <div class="col-md-6">
        <input type="text" name="apellido" [(ngModel)]="contacto.apellido" required class="form-control" placeholder="Apellido">
      </div>
      <div class="col-md-6">
        <input type="tel" name="telefono" [(ngModel)]="contacto.telefono" class="form-control" placeholder="Teléfono">
      </div>
      <div class="col-md-6">
        <input type="email" name="email" [(ngModel)]="contacto.email" required class="form-control" placeholder="Email">
      </div>
      <div class="col-12">
        <textarea name="comentario" [(ngModel)]="contacto.comentario" class="form-control" rows="4" placeholder="Comentario"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-light border text-primary fw-bold mt-4" [disabled]="form.invalid">Enviar</button>

    <div *ngIf="enviado" class="alert alert-success mt-3">¡Gracias por contactarnos!</div>
    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
  </form>
</div>
