.section-title {
  font-size: 35px;
  /* font-family: "Oswald", sans-serif;
  text-transform: uppercase; */
  
  font-family: "Playfair Display", serif !important;
  font-size: 17px;
  letter-spacing: 1px;

  font-weight: bold;
  margin-bottom: 20px;
  color: #0152a3;
}

.section-title h2 {

  color: #073868;
    font-weight: bold;
  font-size: 35px;
  /* font-family: "Oswald", sans-serif;
  text-transform: uppercase; */
    font-family: "Playfair Display", serif!important;
  /* font-size: 17px; */
  letter-spacing: 1px;
  margin-top: 5px;
  line-height: 1.5;
}

.section-title-h3{
  color: #073868;
  
  font-size:26px;
  /* font-family: "Oswald", sans-serif;
  text-transform: uppercase; */
    font-family: "Playfair Display", serif!important;
  /* font-size: 17px; */
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 5px;
  line-height: 1.5;
}
.mapa-container {
  padding: 0 20px;
}

.mapa-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: clamp(28px, 5vw, 36px);
  color: #333;
}